In [2]:
#functions
# Question 1: Define a Function
def greet():
    print("Hello, welcome to Python!")

greet()  # Calling the function

# Question 2: Function with Parameters
def add_numbers(a, b):
    return a + b

print(add_numbers(5, 3))  # Output: 8

# Question 3: Function with Default Arguments
def multiply(a, b=2):
    return a * b

print(multiply(5))  # Output: 10
print(multiply(5, 3))  # Output: 15

# Question 4: Function Returning Multiple Values
def get_square_and_cube(num):
    return num**2, num**3

square, cube = get_square_and_cube(4)
print("Square:", square)  # Output: 16
print("Cube:", cube)  # Output: 64

# Question 5: Function Using *args
def sum_numbers(*nums):
    return sum(nums)

print(sum_numbers(1, 2, 3, 4, 5))  # Output: 15

# Question 6: Function Using **kwargs
def print_person_info(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

print_person_info(name="Alice", age=25, country="USA")

# Question 7: Lambda Function
square = lambda x: x ** 2
print(square(6))  # Output: 36

# Question 8: Recursive Function
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # Output: 120

Hello, welcome to Python!
8
10
15
Square: 16
Cube: 64
15
name: Alice
age: 25
country: USA
36
120

In [4]:
#Data type
# Question 1: Identify Data Types
x = 10
y = 3.14
z = "Python"
a = True

print(type(x))  # Output: <class 'int'>
print(type(y))  # Output: <class 'float'>
print(type(z))  # Output: <class 'str'>
print(type(a))  # Output: <class 'bool'>

# Question 2: Convert Data Types
num_str = "100"
num_int = int(num_str)  # Convert string to integer
num_float = float(num_str)  # Convert string to float

print(num_int, type(num_int))  # Output: 100 <class 'int'>
print(num_float, type(num_float))  # Output: 100.0 <class 'float'>

# Question 3: String Manipulation
text = "Hello World"
print(text.upper())  # Convert to uppercase
print(text.lower())  # Convert to lowercase
print(text.replace("World", "Python"))  # Replace a word
print(text[0:5])  # String slicing

# Question 4: Boolean Logic
print(True and False)  # Output: False
print(True or False)  # Output: True
print(not False)  # Output: True

# Question 5: List and Tuple
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)

print(my_list[2])  # Output: 3
print(my_tuple[1])  # Output: 20

# Question 6: Dictionary Operations
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person["name"])  # Output: Alice
person["age"] = 26  # Updating value
print(person)

# Question 7: Type Checking
value = 10.5

if isinstance(value, int):
    print("It's an integer.")
elif isinstance(value, float):
    print("It's a float.")  # This will print
elif isinstance(value, str):
    print("It's a string.")

# Question 8: Combining Data Types
data = {"name": "Bob", "scores": [90, 85, 88]}
print(data["name"])  # Output: Bob
print(sum(data["scores"]) / len(data["scores"]))  # Average score

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
100 <class 'int'>
100.0 <class 'float'>
HELLO WORLD
hello world
Hello Python
Hello
False
True
True
3
20
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}
It's a float.
Bob
87.66666666666667